{% extends "base.html" %}

{% block content %}
<div class="site-sectino">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="col-md-12"></h2>
            <div class="card">
                <div class="card-body">
                    <h5 clas="card-title">{{ request.user.email}}</h5>
                    <a href="{% url 'account_logout' %}"><small class="float-right">Logout</small></a>


                </div>
                <hr />
                <h5 class="card-title">Tus Pedidos</h5>
                <div class="site-blocks-table"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No. Referencia</th>
                                <th>Fecha</th>
                                <th>Precio</th>
                                <th>Estado de Pago</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}

                            <tr>
                                <td>#{{order.reference_number}}</td>
                                <td>{{order.ordered_date}}</td>
                                <td>{{order.get_total}}</td>
                                <td>{% if order.paid%}Paid{% else %}Not paid{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4"> No has hecho ninguna compra</td>
                            </tr
                            {% endfor %}
                        </tbody>
                    </table>
                    
            </div>

        </div>

    </div>

</div>

{% endblock content %}
